body {
  background-color: #00a000;
}

.cards {
  text-align: center;
  display: inline-block;
  position: absolute;
}

#bot {
  left: 0;
  right: 0;
  top: 0;
}

#player-one {
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  display: inline-block;
  width: 110px;
  height: 170px;
  border-radius: 12px;
  background: rgb(255, 238, 221);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  transition: 200ms ease all;
  margin: 10px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.playable:hover {
  margin-bottom: 30px;
  transition: 200ms ease all;
  cursor: pointer;
}

.deck {
  position: absolute;
  right: 0;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}