@media only screen and (max-width: 930px){
  body .card {
    width: 80px;
    height: 123px;
  }
}
@media only screen and (max-width: 680px){
  body .card {
    width: 50px;
    height: 77px;
  }
}

body {
  background-color: #00a000;
}

.cards {  
  margin: auto;
}

#bot {
  position: absolute;
  top: 0;
  left:0;
  right:0;
  display: inline-block;
  text-align: center;
}

#player {
  position: absolute;
  bottom: 0;
  left:0;
  right:0;
  display: inline-block;
  text-align: center;
}

#pile {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;
  height: 200px;
  margin-top: -100px; /*set to a negative number 1/2 of your height*/
  margin-left: -105px; /*set to a negative number 1/2 of your width*/
}

#pile > .cards > .card {
  position: absolute;
}

.card {
  display: inline-block;
  width: 110px;
  height: 170px;
  border-radius: 12px;
  background: rgb(255, 238, 221);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  transition: 200ms ease margin;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.playable:hover {
  margin-bottom: 30px;
  transition: 200ms ease margin;
  cursor: pointer;
}

#deck {
  position: absolute;
  top: 35%;
  right: 15%;
}

#deck > .cards > .card {
  position: absolute;
}

div.stats {
  position: absolute;opacity: 0.8;top: 35%;right: 25%;
  background-color: rgb(61, 66, 62);text-align: center;width:16%;
  color:rgb(221, 216, 216);border-radius: 10px;
  
}
div.turn {
  position: absolute;top: 35%;left: 20%;opacity: 1;
}
img {
  border-radius:50px;border: 10px solid transparent;
  padding: 15px;
  width: 150px;
  height: 150px;
}
