.chat-base-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 500px;
}

.chat-base-container .user-info-area {
    margin: 8px;
    font-size: 16px;
}

.login-page-wrapper {
    position: absolute;
    font-size: 25px;
    left: 35%;
    top: 45%;
    background: rgb(212, 228, 248);
    padding: 2em 2em;
    border-radius: 1em;
    border: 1px solid rgba(34, 36, 38, 0.15);
}

.taki-logo {
    width: 250px;
    margin: 16px 0;
}

.username-label {
    margin: 0 5px;
    font-size: 18px;
}

.username-input {
    font-size: 16px;
    line-height: 16px;
    margin: 1px;
    border: 1px solid #ccc;
}

.submit-btn:hover {
    background-color: #5f6dec !important;
    border-color: #cadcff;
}

.submit-btn {
    font-size: 15px;
}

.login-error-message {
    color: red;
    font-weight: 600;
}

.chat-contaier {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat-contaier .converssion-area-wrpper {
    flex-grow: 1;
    border: 1px solid #ccc;
    min-height: 300px;
    margin: 3px;
    padding: 8px;
}

.chat-contaier .converssion-area-wrpper p {
    margin: 0 0 8px 0;
}

.chat-contaier .chat-input-wrapper {
    margin-bottom: 8px;
    width: 100%;
    display: flex;
}

.chat-contaier .chat-input-wrapper input {
    line-height: 16px;
    font-size: 16px;
    margin: 1px;
    height: 48px;
    padding: 8px;
    box-sizing: border-box;
    flex-grow: 1;
}

.chat-contaier .chat-input-wrapper .btn {
    flex-grow: 0;
    width: 88px;
    margin: 0 2px 0 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
    width: 100px;
    border: 1px solid #CCC; 
}

tr:nth-child(even) {
    background-color: #e2e4e4
}

tr:nth-child(odd) {
    background-color: #f8fcff
}

th {
    background-color: rgb(22, 93, 201);
    color: white;
}

fieldset {
    border-radius: 0.5em;
    border: 0.1em solid #ccc;
    box-shadow: 0.05em 0.05em 0.05em #ccc;
}

legend {
    font-size: 20px;
    padding: 0.2em 0.5em;
    color: rgb(1, 15, 1);
    text-align: left;
}

.usersList {
    position: relative;
    font-size: 18px;
    width: 150px;
}

.Form {
    position: relative;
}

.Form div {
    display: inline-block;
    padding-left: 12px;
}

.addGame {
    background-color: #3498db;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 40px;
}

.addGame:hover {
    background-color: #2348eb;
}

body {
    background-color: aliceblue;
}

.welcome {
    position: relative;
    left: 35%;
}

.welcome_taki {
    background-size: 420PX 180px;
    background-image: url("./assets/TAKI_logo.png");
    display: block;
}

button {
    font-size: 18px;
    cursor: pointer;
    border-style: solid;
    background-color: #bee7f3;
    border-color: #d0e8f3;
    margin: 0 3px;
}

.btn {
    background-color: #3498db;
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    border-radius: 28px;
    font-size: 18px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    cursor: pointer;
}

input[type=submit]:hover, button:hover, .btn:hover {
    background-color: #2a67eb;
    background-image: none;
    border-color: #cadcff;
}

:disabled{
    cursor: not-allowed;
  }