
  body #side-bar {
    left: -180px;
    transition: 200ms all;
  }
  body #side-bar:hover {
    transition: 200ms all;
    left: 0px;
  }

  
  body #side-stats {
    right: -180px;
    transition: 200ms all;
  }
  body #side-stats:hover {
    transition: 200ms all;
    right: 0px;
  }


@media only screen and (max-width: 980px) {
  body .card {
    width: 60px !important;
    height: 90px !important;
  }
  body .color_tooltip {
    width: 120px;
    height: 120px;
  }
  body #content {
    height: calc(100% - 284px);
    min-height: 200px;
  }
  body #turn-img {
    width: 80px;
    height: 80px;
  }
 
  #quit, #restart {
    font-size: 12px !important;
    padding: 7px 14px 7px 14px !important;
  }
  body #rewind, body #next, body #prev {
    font-size: 12px !important;
    padding: 7px 14px 7px 14px !important;
  }
}

.stats-section > h1{
  font-size: 14px;
}


.stats-section > h2{
  font-size: 12px;
}

@media only screen and (max-width: 850px) {
  body .card {
    width: 45px !important;
    height: 75px !important;
  }
  body #turn-img {
    width: 70px;
    height: 70px;
  }
  h1 {
    font-size: 12px;
  }
  h2 {
    font-size: 10px;
  }
  #closeTaki {
    font-size: 8px;
  }
  #quit, #restart {
    font-size: 10px !important;
    padding: 7px 14px 7px 14px !important;
  }
  body #rewind, body #next, body #prev {
    font-size: 10px !important;
    padding: 7px 14px 7px 14px !important;
  }
}


@media only screen and (max-width: 660px) {
  body .card {
    width: 35px !important;
    height: 55px !important;
  }
}

@media only screen and (max-width: 500px) {
  body .card {
    width: 25px !important;
    height: 45px !important;
  }
}

@media only screen and (max-height: 444px) {
  body .card {
    width: 40px !important;
    height: 65px !important;
  }
  body #turn-img {
    width: 50px !important;
    height: 50px !important;
  }
  #quit, #restart {
    font-size: 8px !important;
    padding: 7px 14px 7px 14px !important;
  }
  body #rewind, body #next, body #prev {
    font-size: 8px !important;
    padding: 7px 14px 7px 14px !important;
  }
  #msg {
    font-size: 12px !important;
  }
  div.bot_stats {
    width: 70px;
  }
}

@media only screen and (max-width: 720px) {
  body .card {
    width: 45px;
    height: 70px;
  }
  #loser, #celebrate {
    width: 100px !important;
  }
  body #content {
    height: calc(100% - 192px);
    min-height: 100px;
  }
  body #turn-img {
    width: 50px !important;
    height: 50px !important;
  }
  body #pile {
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
  }
  div.bot_stats {
    width: 90px;
  }
}

#side-bar {
  top:30px;
  width: 200px;
  height: 400px;
  position: absolute;
  transition: 200ms all;
  left: 0;
  z-index: 100;
  background-color: rgb(105, 110, 179); 
}

#side-bar:hover {
  left: 0;
  transition: 200ms all;
}


#side-stats {
  width: 200px;
  font-size:12px;
  position: absolute;
  transition: 200ms all;
  right: 0;
  z-index: 10;
  background-color: rgb(105, 110, 179); 
}

#side-stats:hover {
  right: 0;
  transition: 200ms all;
}

body {
  background-color: #3584c4;
  margin: 0;
  padding: 0;
  height: 100%;
}

#closeT {
  position: absolute;
  height: 20%;
  top: 60%;
  left: 54%;
}
/*
#stats-section {
  width:300px;
  font-size: 12px;
  height: 80%;
  left: 20%;
  position: relative;
}
*/
#actions-section {
  background-color: aquamarine;
  height: 20%;
  display: flex;
}

.cards {
  margin: auto;
}

#content {
  position: relative;
  height: calc(100% - 378px);
  min-height: 300px;
}

#actions-section>div {
  width: 50%;
  height: 100%;
  margin-left: -100px;
  margin-top: -100px;
  border: 1px solid;
}

#root {
  min-height: 100%;
}

.rival {
  width: 100%;
  display: inline-block;
  text-align: center;
}

#player {
  position: relative;
  width: 70%;
  left:15%;
  display: inline-block;
  text-align: center;
}

/*
#player{
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: inline-block;
  text-align: center;
}*/

#player>.cards>.card {
  margin-top: 30px;
}

.start-game-button {
  position: absolute;
  right: 50%;
}

.btn {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:disabled {
  cursor: not-allowed;
  background: rgba(52, 152, 219, 0.7);
}

#pile {
  position: absolute;
  top: 65%;
  left: 50%;
  width: 210px;
  height: 200px;
  margin-top: -100px;
  /*set to a negative number 1/2 of your height*/
  margin-left: -105px;
  /*set to a negative number 1/2 of your width*/
}

#pile>.cards>.card {
  position: absolute;
}

.color_tooltip {
  border-radius: 10px 10px;
  margin: auto;
  position: absolute;
  width: 150px;
  height: 150px;
  top: 33%;
  left: 42%;
  display: flex;
  opacity: 0.9;
  transition: 200ms ease all;
}

.color_tooltip_red {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: absolute;
  right: 0;
  border-radius: 0 8px 0 0;
  background-color: #db6e53;
}

.color_tooltip_green {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 0;
  top: 50%;
  border-radius: 0 0 0 8px;
  background-color: #8fc453;
}

.color_tooltip_yellow {
  display: inline-block;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 0 0 8px 0;
  background-color: #fff44c;
}

.color_tooltip_blue {
  display: inline-block;
  width: 50%;
  height: 50%;
  background-color: #6bbce2;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px 0 0 0;
}

.color_tooltip_red:hover {
  content: "Choose";
  color: white;
  background-color: #e64d48;
}

.color_tooltip_green:hover {
  content: "Choose";
  color: white;
  background-color: #42db49;
}

.color_tooltip_yellow:hover {
  content: "Choose";
  color: white;
  background-color: #f9fd18;
}

.color_tooltip_blue:hover {
  content: "Choose";
  color: white;
  background-color: #2484dd;
}

.card {
  display: inline-block;
  width: 80px;
  height: 125px;
  border-radius: 12px;
  background: rgb(255, 238, 221);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
  transition: 200ms ease margin;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  cursor: not-allowed;
}

.playable:hover {
  margin-top: 0 !important;
  margin-bottom: 30px;
  transition: 200ms ease margin;
  cursor: pointer;
}

.isplayable:hover {
  margin-top: 30px;
  transition: 200ms ease margin;
  cursor: pointer;
}

.notplayable:hover {
  cursor: not-allowed;
}

#deck {
  position: absolute;
  top: 45%;
  right: 35%;
}

#deck>.cards>.card {
  position: absolute;
}

#stats-section>#p1-stats>h2 {
  margin-top: 0;
}
/*
div.stats {
  text-align: left;
  width: 20%;
  font-size: 12px;
  color: rgb(38, 146, 235);
}
*/
h2>a {
  color: rgb(105, 224, 115);
}

div.bot_stats {
  opacity: 0.8;
  background-color: rgb(61, 66, 62);
  text-align: center;
  width: 150px;
  color: rgb(221, 216, 216);
  border-radius: 10px;
  position: absolute;
  right: 0;
  top: 50%;
}

div.turn {
  position: absolute;
  left: 55%;
  opacity: 1;
}

#turn-img {
  border-radius: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  border: 10px solid transparent;
  padding: 15px;
  width: 100px;
  height: 100px;
}

.rewinding {
  pointer-events: none;
}

.clickable {
  pointer-events: all !important;
}

h1 {
  text-decoration: underline;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  margin: auto;
  background-color: #6f89a7;
}

#rewind {
  position: absolute;
  right: 50%;
  top: 50%;
}

#rewind1 {
  position: absolute;
  right: 0;
  top: -10px;
}

#hidden {
  display: none;
}

#celebrate {
  position: absolute;
  left: 30%;
}

#loser {
  position: absolute;
  left: 30%;
}

#side {
  opacity: 0.8;
  background-color: rgb(61, 66, 62);
  text-align: center;
  width: fit-content;
  color: rgb(221, 216, 216);
  border-radius: 10px;
  position: relative;
  height: 20%;
  width: 20%;
}

.endGamePopupHeader {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 5%;
  padding: 34px;
  background-color: #303F9F;
  color: white;
  font-size: 1.5em;
}

.endGamePopupBody {
  text-align: center;
  color: white;
}

#endGameStats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

a {
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#barney {
  content: url('./assets/barney.gif');
}

#loser {
  content: url('./assets/loser2.gif');
}

.human-image {
  background-image: url('./assets/human.png');
}

.bot-image {
  background-image: url('./assets/bot.png');
}

#backToLobby {
  z-index: 150;
  position: fixed;
  right:0;
}

#ending {
  padding-top: 40px;
}

.chat-container {
  width: 200px;
  background-color: rgb(105, 110, 179);
}

.messages {
  height: 360px;
  overflow-y: auto;
}

#msg {
  position: relative;
  left:50%;
  top:16px;
  font-size: 14px !important;
  color: blue;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.chat-send{
  position: relative;
  top: 100%;
}

#player0 .card,#player1 .card,#player2 .card{
  width: 55px ;
  height: 90px ;
}

#player1{
  position: absolute;
  transform: rotate(90deg);
  transform-origin: left;
  left: 100px;
}

#player2{
  position: absolute;
  transform: rotate(270deg);
  transform-origin: right;
  right: 100px;
  top:15px;
}

.end-Stats{
  width:50%;
  position: relative; 
  left:30%;
}

.endMiddle{
  position:relative;
  left:30%;
}

.finished{
  bottom: 20px;
  position: absolute;
  left:40%;
}

#mainGame{
  background-color: lightskyblue;
  position: absolute;
  height: 100%;
  width: 100%;
}